<!-- insert title here -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title> ClimaTech </title>
    <!-- Insert Title still -->
</head>



<body>

    <!-- Main Container -->
    <div class="container-fluid">

        <!-- Website Name -->
        <div class="row" id="websiteName">
            <h1>ClimaTech</h1>
        </div>


        <!-- Motto / Purpose -->
        <div class="row">
            <div class="col-8" id="missionstatement">
                <h3><u>Mission Statement</u></h3>
                <h2>Currently, climate change data is restricted to technical users capable of creating specific scripts that translate data from various APIs to readable files. Our vision: a world where accessible, customized, and powerful climate insights
                    empower users to make informed decisions.</h2>
            </div>
            <div class="col-4"></div>
        </div>

        <!-- Solution -->
        <div class="row">
            <div class="col-3"></div>
            <div class="col-8" id=solution>
                <h2>HELLO</h2>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Visualization -->
    <div class="row" id="visualization">
        <img src="../graphs/CharlottetownFall.png">
    </div>

    <!-- Click Here Button -->
    <div class="row" id="buttonBox">
        <div class="col-3"></div>
        <div class="col-6">
            <button type="button" onclick="location.href='../templates/visualizations.html';">Click here to find out more about Canadian cities!</button>
        </div>
        <div class="col-3"></div>
    </div>

    <!-- Footer -->
    <div class="row" id="footer">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Developed by <i>Get Lepton</i> for the 2021 Challenge for Climate Action. To find out more, check out the <a href="https://github.com/AliRZ-02/DICHackathon2021"> GitHub</a> repository</p>
        </div>
        <div class="col-2"></div>
    </div> 

</body>


</html>