<!-- insert title here -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title> Unveiling the Truth About Our Future? </title>
    <!-- Insert Title still -->

    <style>
        body {
            background-image: url("../templates/images/background_one.png");
            background-size: cover;
        }
    </style>
</head>


<body class="px-0; mx-0">

    <!-- Website Name -->
    <div class = "container-fluid">
        <h1>Hey look it's text</h1>
    </div>

</body>


</html>