body {
    background: url(../templates/images/background_one.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

@font-face {
    font-family: titleFont;
    src: url(../templates/fonts/Candarab.ttf);
}


/*
.row h1 {
    color: white;
    font-family: titleFont;
}
*/

#websiteName {
    text-align: center;
    font-family: titleFont;
    color: rgba(0, 33, 115, 1);
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    background-image: linear-gradient(to bottom right, rgba(175, 238, 238, 0.4), rgba(175, 238, 238, 1));
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

#missionstatement {
    margin-top: 5%;
    margin-left: 5%;
    color: #0000ff;
    font-size: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(146, 135, 238, 0.4), rgba(146, 135, 238, 1));
    border-style: solid;
    border-color: black;
}

#solution {
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    margin-top: 4%;
}

#visualization {
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
}

#footer {
    margin-top: 5%;
    background-color: gray;
}

.row h1 {
    font-size: 45px;
}

.row h2 {
    font-size: 30px;
    color: white;
}

.row h3 {
    font-size: 36px;
    color: white;
    text-align: center;
}


/*
#textRow {
    background-color: transparent;
}