body {
    background: url(../templates/images/background_one.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

@font-face {
    font-family: titleFont;
    src: url(../templates/fonts/Candarab.ttf);
}

@font-face {
    font-family: actualTitleFont;
    src: url(../templaes/fonts/EBGaramond-Regular.ttf);
}

#websiteName {
    text-align: center;
    color: rgba(0, 33, 115, 1);
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    background-image: linear-gradient(to bottom right, rgba(175, 238, 238, 0.4), rgba(175, 238, 238, 1));
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

#websiteName h1 {
    font-family: actualTitleFont;
    text-decoration: bold;
}

#websiteName h2 {
    font-family: titleFont;
}

#missionstatement {
    margin-top: 5%;
    margin-left: 5%;
    color: #fbfaf5;
    font-size: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(137, 126, 236, 0.6), black);
    border-style: solid;
    border-color: black;
    padding: 1%;
}

#solution {
    margin-top: 4%;
    color: #fbfaf5;
    font-size: 15px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(146, 135, 238, 0.6), black);
    border-style: solid;
    border-color: black;
    padding: 1%;
}

#visualization {
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgba(146, 135, 238, 0.6), black);
    border-style: solid;
    border-color: black;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
}

#visualization img {
    border-radius: 15px;
    padding: 2%;
}

#buttonBox {
    margin-top: 3%;
    text-align: center;
}

.button1 {
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 8px;
    transition-duration: 0.6s;
    background-color: rgba(146, 135, 238, 1);
    color: white;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: black;
    background-color: rgb(201, 195, 250);
}

#footer {
    margin-top: 5%;
    font-size: large;
    text-align: center;
    background-color: gray;
}

.row h1 {
    font-size: 45px;
}

.row h2 {
    font-size: 30px;
}

.row h3 {
    color: rgb(62, 189, 24);
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
}

.carousel-caption h1 {
    font-size: 20px;
    color: black;
}

.carousel-caption {
    position: absolute;
    top: 10px
}