<!--
Name: Get Lepton
Date: Jan 8 2021
Purpose: HTML file describing the layout for the main site
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <title>Get Lepton</title>

    <!--    I Used Bootstrap for most styling, however, for @media queries, I ran into some issues, so I moved them all to
 the header section -->
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            background: #f5f6fa;
            font-family: Verdana, sans-serif;
            font-size: 10vw
        }
        @media (max-width: 575px) {
            body {
                text-align: center;
                background: #f5f6fa;
                font-family: Verdana, sans-serif;
            }

        }
    </style>
</head>

<!-- The Body of the Page. Bootstrap was used for the styling of most elements -->

<!-- If the request returns an error, an alert page opens up notifying the user about said issues -->

<body class="px-0; mx-0">

<!-- The Main Icon and Name is put in a block that is visible here -->

<div class="container-fluid p-0" style="background:#2d3436; overflow: hidden" >
    <div class="row">

        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='/Resources/CaPredictorIcon.png') }}" alt="" class="rounded mx-auto d-block">
        </div>

        <div class="col-sm-8 my-auto">
            <h1 style="color: white; font-weight: lighter;
                margin-top: 0; font-size: 10vw;}"> Get Lepton </h1>
        </div>

    </div>
</div>

<!-- City Input Information Form is Here -->

<div class="container-fluid p-0 border-white" style="overflow: hidden; margin-top: 2%; margin-bottom: 2%">
    <div class="form-group my-auto" style="font-size: small">

        <form class="row" action="/" method="POST" style="width: 100%; margin-left: 0.25%"
              autocomplete="off">

            <input class="col-sm-3 form-control" type="text" name="city_name"
                   id = "city_name" placeholder="City Name" style="text-align: center"
            required>
            <input type="submit" value="Search Player" class="col-sm-3 btn btn-primary"
                   id="search">
        </form>

    </div>
</div>

<div id="mapid" style="height: 180px">

</div>

<script>

  // initialize the map
  var map = L.map('mapid').setView([43.65, -79.38], 13);

  // load a tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 17,
      minZoom: 5
    }).addTo(map);

  </script>
</body>

<!-- Footer and Credits -->

<footer class="col-sm-12 card-footer" style="margin-top: 2%">
    <div class="row">
        <div class="col-sm-4 my-auto" style="padding-bottom: 0.5%">
            <a href="https://github.com/AliRZ-02">
                <img src="{{ url_for('static', filename='/Resources/github.png') }}" style="display: flex;
            align-items: center; flex-wrap: wrap;" class="d-block mx-auto">
            </a>
        </div>
        <div class="col-sm-8 my-auto">
            <h1 style="font-size: large; text-align: center; margin-top: 0.5%">
                Developed by Ali Raza Zaidi and Danyal Zaidi.
                To find out more, check out the <a href="https://github.com/AliRZ-02/CaPredictor"> GitHub </a> repository
            </h1>
        </div>
    </div>
</footer>
</html>